body{
  background:  #f9fafb;
 height: 100%;
 width: 100%;
 box-sizing: border-box;
}
::-webkit-scrollbar{
  width: 0px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes glowAnimation {
  0% {
    text-shadow: 0 0 5px #00b8b8, 0 0 10px #00b8b8, 0 0 15px #00b8b8, 0 0 20px #00b8b8;
  }
  50% {
    text-shadow: 0 0 15px #00b8b8, 0 0 30px #00b8b8, 0 0 45px #00b8b8, 0 0 60px #00b8b8;
  }
  100% {
    text-shadow: 0 0 5px #00b8b8, 0 0 10px #00b8b8, 0 0 15px #00b8b8, 0 0 20px #00b8b8;
  }
}

.glow {
  animation: glowAnimation 1.5s infinite alternate;
}

.dots-loader {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #2DEEAA; /* Your color */
  animation: bounce 1.4s infinite ease-in-out both;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
